{% extends 'admin/base.html.twig' %}

{% block body %}
    <a href="{{ path('admin_remark_new') }}">Dodaj nowy</a>

    <ul>
        {% for remark in remarks %}
            <li>{{ remark.text }}</li>
        {% endfor %}
    </ul>
{% endblock %}